
table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
}
table.center {
  margin-left:auto;
  margin-right:auto;
}

p{
  text-align: center;
}

th, td {
  padding: 5px;
}
th {
  text-align: left;
}

#lowerSectionHeader{
  border-style: hidden;
}

#diceTable{
  border-collapse: collapse;
}

#yahtzeeHeader{
  text-align: center;
}

#scoreFeedback{
  border-collapse: collapse;

}

.reserved{
  background-color: #00ff00;
}
.notReserved{
  background-color: #ffffff;
}

.used{
  background-color: #a9a9a9;
}

input[type=text]:disabled {
  background: #ffffff;
}
